<!DOCTYPE html>
<html>
<head>
  <title>Create Post</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
  <form action="/create-post" method="POST" enctype="multipart/form-data">
    <h2>Create a Post</h2>
    <div class="post-container">
      <div class="post-image-container">
        <img id="preview" class="hidden" alt="Uploaded Image Preview">
      </div>
      <label for="image">Upload Image:</label>
      <input type="file" id="image" name="image" accept="image/*">
    </div>
    
    <div class="post-info">
      <label for="description">Description:</label><br>
      <textarea id="description" name="description" rows="4" required></textarea><br><br>
      <label for="link">Link:</label><br>
      <input type="url" id="link" name="link" placeholder="Enter a link (optional)">
    </div>
    <button type="submit">Create Post</button>
  </form>
  <script src="/script.js"></script>
</body>
</html>
