body {
  background: linear-gradient(to right, #ff9a9e, #fecfef);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container Styling */
.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Header Styling */
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ff758c; /* Deeper pink for the header */
  font-weight: bold;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ff758c;
}

textarea, input[type="url"], input[type="file"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 22px);
}

textarea {
  height: 100px;
}

/* Button Styling */
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ff758c;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #ff9a9e;
}