body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f48fb1, #ce93d8);
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Back button styles */
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
  background-color: #c2185b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Header styles */
h2 {
  color: #e91e63;
  text-align: center;
  margin-bottom: 20px;
}

/* My Communities section styles */
.my-communities {
  text-align: center;
  margin-bottom: 20px;
}

/* Center align my-communities */
.my-communities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f48fb1; /* Light pink */
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.community-button:hover {
  background-color: #ce93d8; /* Light purple */
}

/* Explore Communities section styles */
.explore-communities {
  text-align: center;
}

.community {
  background-color: #e1bee7; /* Light purple */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.community h3 {
  color: #9c27b0; /* Purple */
  margin-bottom: 10px;
}

.join-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #c2185b;
}

.joined {
  background-color: #4caf50;
  cursor: default;
}

.joined:hover {
  background-color: #4caf50;
}